[submodule "mathmacros"]
	path = src/mathmacros
	url = https://github.com/Advanced-Systems/mathmacros
[submodule "src/mathmacros"]
	path = src/mathmacros
	url = https://github.com/Advanced-Systems/mathmacros
